@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Yellow3: #ccb24c;
  --Yellow2: #f7d683;
  --Yellow1: #fffdc0;
  --White: #fffffd;
  --Blue: #457d97;
  --Black: #000000;
}

*
{
  scroll-behavior: smooth;
}